@font-face {
  src: url("../fonts/Acrom/Acrom-Medium.otf") format("opentype");
  font-family: "Acrom";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  src: url("../fonts/Acrom/Acrom-Bold.otf") format("opentype");
  font-family: "Acrom";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  src: url("../fonts/Acrom/Acrom-Regular.otf") format("opentype");
  font-family: "Acrom";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  src: url("../fonts/Acrom/Acrom-Light.otf") format("opentype");
  font-family: "Acrom";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  src: url("../fonts/duck4game/duck4game.ttf") format("truetype");
  font-family: "DuckForGame";
  font-style: normal;
  font-display: swap;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Acrom", sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: #B5B5B5;
  background-color: #F1EDE6;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
  height: auto;
}

input,
button {
  outline: none;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.content-wrapper {
  margin: 0 auto;
  padding: 0 6.00292826%;
  width: 100%;
  max-width: 1366px;
}
/* BUTTON */
.button {
  position: relative;
  padding: 11px 30px 9px;
  font-family: "Acrom", sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  text-transform: uppercase;
  background: linear-gradient(to bottom, #ffffff, #d6d6d6);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button.hide {
  display: none;
}

.button--facebook {
  display: inline-block;
  vertical-align: top;
  padding: 10px 12px;
  color: #fff;
  font-weight: 400;
  background-image: linear-gradient(to bottom, #6089D1, #3864AF);
  box-shadow: 0 5px 3px -3px #000;
}

.button--facebook:active {
  box-shadow: 0 3px 3px -3px #000;
  transform: translateY(2px);
}

.button--facebook:hover,
.button--facebook:focus {
  text-decoration: none;
}

.popup .button--facebook {
  margin-left: 155px;
  margin-top: 25px;
}

.button--red {
  color: #fff;
  background: linear-gradient(to bottom, #FE0091, #D00077);
  box-shadow: 0 5px 3px -3px #6C003E;
}

.button--red:active {
  box-shadow: 0 3px 3px -3px #6C003E;
  transform: translateY(2px);
}

.button--buy {
  padding: 13px 28px 12px 55px;
  box-shadow: 0 5px 3px -3px #6C003E;
}

.button--buy:active {
  box-shadow: 0 3px 3px -3px #6C003E;
}

.button--buy::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 22px;
  width: 23px;
  height: 20px;
  background-image: url("../img/white-heart.svg");
  background-repeat: no-repeat;
  animation-name: heartBeat;
  animation-duration: 1.3s;
  animation-timing-function: step(5);
  animation-iteration-count: infinite;
}

.button--border {
  color: #fff;
  background: transparent;
  box-shadow: inset 0 0 0 1px #707070;
}

.button--back {
  padding: 11px 34px 9px 43px;
}

.button--next {
  padding: 11px 43px 9px 34px;
}

.button--back::before,
.button--next::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 7px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%);
}

.button--back::before {
  left: 28px;
  background-image: url("../img/white-arrow.svg");
}

.button--next::before {
  right: 28px;
  background-image: url("../img/black-arrow.svg");
}

.button--file {
  padding: 11px 30px 9px 56px;
}

.button--file::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 22px;
  width: 23px;
  height: 25px;
  background-image: url("../img/upload-file.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%);
}

.button--pay {
  padding: 11px 30px 9px 45px;
}

.button--pay::before,
.button--pay::after {
  content: "";
  position: absolute;
  top: 50%;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%);
}

.button--pay::before {
  left: 15px;
  width: 23px;
  height: 20px;
  background-image: url("../img/white-heart.svg");
}

.button--pay::after {
  right: 15px;
  width: 7px;
  height: 12px;
  background-image: url("../img/white-arrow.svg");
  transform: translateY(-50%) rotate(180deg);
}

.button--pay:disabled {
  opacity: 0.5;
  cursor: default;
}

.button--choose {
  padding: 7px 15px;
  font-size: 13px;
  line-height: 16px;
  text-transform: none;
  font-weight: 400;
  color: #B5B5B5;
  background: #101010;
  border-radius: 0;
}

.button--ok {
  color: #fff;
}

.button--choose:disabled {
  color: rgba(#B5B5B5, 0.7);
  cursor: default;
}

.button--save {
  color: #FE0091;
}
/* BUTTON */
/* HEADER */
.header {
  position: relative;
  z-index: 1;
  background-color: #101010;
}

.header__content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6.00292826%;
}

.header__left,
.header__right {
  display: flex;
  align-items: center;
}

.header__fond-logo {
  flex-shrink: 0;
  margin-right: 20px;
  width: 210px;
  height: 70px;
}

.header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 208px;
  transform: translate(-50%, -50%);
}

.header__remind {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.header__timer,
.header__counter {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.header__timer > span,
.header__counter > span {
  margin-right: 23px;
  max-width: 120px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
}

.header__counter {
  margin-left: auto;
}

.header__counter > span {
  max-width: none;
}
/* HEADER */
/* COUNTER AND TIMER */
.counter {
  position: relative;
  padding: 25px 35px 15px 55px;
  height: 70px;
  border-left: 1px solid #707070;
  border-right: 1px solid #707070;
}

.counter__number {
  font-family: "DuckForGame", sans-serif;
  font-size: 24px;
  line-height: 1;
  color: #FE0091;
}

.counter::before {
  content: "";
  position: absolute;
  top: 22px;
  left: 23px;
  width: 23px;
  height: 20px;
  background-image: url("../img/white-heart.svg");
  background-repeat: no-repeat;
  animation-name: heartBeat;
  animation-duration: 1.3s;
  animation-timing-function: step(5);
  animation-iteration-count: infinite;
}

.counter__text {
  position: absolute;
  left: 55px;
  bottom: 14px;
  font-family: "Acrom", sans-serif;
  font-size: 12px;
  line-height: 1;
  font-weight: 300;
  color: #B5B5B5;
}

.timer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 19px 20px;
  height: 70px;
  border-left: 1px solid #707070;
  border-right: 1px solid #707070;
}

.timer__value {
  position: relative;
  display: block;
}

.timer__value::after {
  position: absolute;
  top: 90%;
  left: 50%;
  font-family: "Acrom", sans-serif;
  font-size: 12px;
  line-height: 1;
  font-weight: 300;
  color: #B5B5B5;
  transform: translateX(-50%);
}

.timer__value--day {
  color: #F10697;
}

.timer__value--day::after {
  content: "дней";
}

.timer__value--hours {
  color: #803FC7;
}

.timer__value--hours::after {
  content: "часов";
}

.timer__value--minutes {
  color: #1873F4;
}

.timer__value--minutes::after {
  content: "минут";
}

.timer__value,
.timer__separator {
  font-family: "DuckForGame", sans-serif;
  font-size: 24px;
  line-height: 1;
}

.timer__separator {
  margin: 0 15px;
  animation-name: clock;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps();
}

.timer__separator--first {
  color: #B425B1;
}

.timer__separator--second {
  color: #5653D9;
}
/* COUNTER AND TIMER */

/* NAVIGATION */
.navigation {
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
}
.navigation__item {
  margin-right: 25px;
}
.navigation__item:hover,
.navigation__item:focus {
  text-decoration: none;
  color: #fff;
}
.navigation__item:last-child {
  margin-right: 0;
}
/* NAVIGATION */

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.wall {
  position: relative;
  margin: auto 0;
}

.wall__info {
  display: none;
  position: absolute;
  top: 250px;
  left: 50%;
  z-index: 100;
  margin-top: -16px;
  padding: 8px 65px 8px 20px;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  background-color: #101010;
  transform: translateX(-50%);
}

.wall__info::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 17px;
  width: 13px;
  height: 15px;
  background-image: url("../img/cursor-grey.png");
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%);
}

.wall__content {
  width: 100%;
  height: 530px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.wall__content::-webkit-scrollbar {
  width: 0;
  display: none;
}

.wall__content .mCSB_container {
  padding-bottom: 30px;
}

.wall__content .mCSB_horizontal.mCSB_inside > .mCSB_container {
  margin-bottom: 0;
}

.wall__content .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  visibility: hidden;
}

.wall__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px;
  width: 4060px;
  // overflow-y: scroll;
}

.wall__pixel {
  position: relative;
  width: 50px;
  height: 50px;
  background-image: linear-gradient(to top left, #C6B28A 50%, #FCFBF9 50%);
}

.wall__pixel::before {
  content: "";
  position: absolute;
  top: 4px;
  right: 4px;
  left: 4px;
  bottom: 4px;
  background-color: #F1EDE6;
}

.wall__logo {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  overflow: hidden;
}

.wall__logo a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #F1EDE6;
}

.wall__logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  max-width: 100%;
  transform: translate(-50%, -50%);
}

.wall__logo.booked img {
  opacity: 0.15;
}

.wall__logo.booked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 25px;
  height: 30px;
  background-image: url("../img/small-lock.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-50%, -50%);
}

.wall__choose {
  display: none;
  position: absolute;
  z-index: 2;
  width: 50px;
  height: 50px;
  background-color: #F1EDE6;
  box-shadow: inset 0 0 0 3px #27B12F;
  transition: top 0.3s, left 0.3s;
  overflow: visible !important;
}

.wall__choose.active {
  display: block;
}

.wall__choose.error {
  box-shadow: inset 0 0 0 3px #DB0000;
}

.wall__choose::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(39, 177, 47, 0.25);
}

.wall__choose.error::before {
  background-color: rgba(219, 0, 0, 0.25);
}

.wall__choose-info {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;
  color: #101010;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
}

.wall__choose-info span {
  display: block;
  margin-top: 5px;
  font-family: "DuckForGame", sans-serif;
  font-size: 19px;
  line-height: 23px;
  font-weight: 600;
  color: #27B12F;
  text-transform: none;
}

.wall__choose-action {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
}

.wall__choose-handler {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border: 3px solid #27B12F;
}

.wall__choose-handler::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13px;
  height: 4px;
  background-color: #27B12F;
  transform: translate(-50%, -50%) rotate(45deg);
}

.wall__choose-handler::after {
  content: "";
  position: absolute;
  bottom: 2px;
  right: 2px;
  border: 5px solid #27B12F;
  border-top-color: transparent;
  border-left-color: transparent;
}

.wall__choose--example {
  animation-name: choose;
  animation-delay: 0.5s;
  animation-duration: 1.5s;
  animation-timing-function: steps(5, end);
  animation-fill-mode: forwards;
}

@keyframes choose {
  0% {
    width: 50px;
    height: 50px;
  }

  25% {
    width: 50px;
    height: 50px;
  }

  50% {
    width: 100px;
    height: 50px;
  }

  75% {
    width: 100px;
    height: 50px;
  }

  100% {
    width: 150px;
    height: 100px;
  }
}

.wall__choose--example::after {
  content: "";
  position: absolute;
  bottom: -8px;
  right: -6px;
  z-index: 2;
  width: 12px;
  height: 16px;
  background-image: url("../img/cursor-white.png");
  background-repeat: no-repeat;
}

.wall__choose-handler:hover {
  cursor: move;
}

.wall__choose.error .wall__choose-handler {
  border: 3px solid #DB0000;
}

.wall__choose.error .wall__choose-handler::before {
  background-color: #DB0000;
}

.wall__choose.error .wall__choose-handler::after {
  border-bottom-color: #DB0000;
  border-right-color: #DB0000;
}

.wall__selected {
  display: none;
  position: absolute;
  z-index: 2;
  width: 0;
  height: 0;
  background-image: linear-gradient(to right top, #FF0091, #007FFF);
  transition: 0.3s;
}
.wall__selected.active {
  display: block;
}

.wall__selected::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background-color: #fff;
  transition: 0.3s;
}

.wall__selected.saved::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.wall__selected-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wall__selected img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  max-width: 100%;
  transform: translate(-50%, -50%);
}

.wall__selected-action {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}

.wall__selected-action.active {
  display: flex;
}

.wall__actions {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  padding: 0 6.00292826%;
}

.wall__message {
  display: none;
}

.main__button-buy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main__button-buy:active {
  transform: translate(-50%, -45%);
}

.scrollbar {
  position: relative;
  width: 250px;
  height: 2px;
  background-image: linear-gradient(to bottom, #C6B28A 50%, #ffffff 50%);
}

.scrollbar__thumb {
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  border: 2px solid #000;
  border-radius: 4px;
  transform: translateY(-50%);
}

.scroll {
  width: 125px;
}

.scroll svg path.arrow-1 {
  animation-name: arrow1;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.scroll svg path.arrow-2 {
  animation-name: arrow2;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.scroll svg path.arrow-3 {
  animation-name: arrow3;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.progress {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  transform: translate(-50%, -50%);
}

.progress.active {
  display: flex;
}

.progress__step {
  position: relative;
  margin-right: 67px;
  line-height: 17px;
  text-transform: uppercase;
}

.progress__step:last-child {
  margin-right: 0;
}

.progress__step.active {
  color: #101010;
}

.progress__step.success svg {
  fill: #27B12F;
}

.progress__step::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -48px;
  width: 31px;
  height: 8px;
  background-image: url("../img/big-arrow.svg");
  background-repeat: no-repeat;
  transform: translateY(-50%);
}

.progress__step:last-child::after {
  display: none;
}

/* Partners slider */
.partners {
  padding: 30px 0;
  border-top: 1px solid #C6B28A;
}

.partners__slider {
  display: flex;
  padding: 0 90px;
}

.partners__item {
  display: flex;
  margin: 0 50px;
  width: 25%;
}

.partners__link {
  margin: auto;
}

.partners__link svg {
  width: auto;
  max-width: 100%;
  fill: #4a4a4a;
}

.partners__item:hover .partners__link--cms svg {
  fill: #e71128;
}

.partners__item:hover .partners__link--runet svg {
  fill: #e54b4b;
}

.partners__item:hover .partners__link--spike svg {
  fill: #ff0013;
}

.partners__slider .slick-track {
  display: flex;
}

.slick-initialized .partners__item.slick-slide {
  display: flex;
  float: none;
  height: auto;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  padding: 0;
  width: 12px;
  height: 21px;
  font-size: 0;
  line-height: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 0;
  transition: 0.3s;
  transform: translateY(-50%);
  outline: none;
}

.slick-arrow.slick-disabled {
  opacity: 0.6;
}

.slick-arrow.slick-prev {
  left: 0;
  background-image: url("../img/prev-arrow.svg");
}

.slick-arrow.slick-next {
  right: 0;
  background-image: url("../img/next-arrow.svg");
}
/* Partners slider */
/* FOOTER */
.footer {
  position: relative;
  z-index: 1;
  background-color: #101010;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 6.00292826%;
  font-size: 13px;
  line-height: 15px;
  font-weight: 300;
}

.footer__content a {
  color: #fff;
}

.footer__links {
  display: flex;
}

.footer__links a {
  margin-right: 20px;
}

.footer__links a:last-child {
  margin-right: 0;
}

.footer__connect,
.footer__copyright {
  margin: 0;
  width: 25%;
}

.footer__offer {
  text-align: center;
}

.footer__copyright {
  text-align: right;
}
/* FOOTER */

/* REMIND FORM */
.remind form {
  display: flex;
}

.remind input {
  margin-right: 10px;
  padding: 7px 0;
  width: 180px;
  font-family: "Acrom", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  color: #B5B5B5;
  border: none;
  border-bottom: 1px solid #646464;
  border-radius: 0;
  background-color: transparent;
}

.remind input.success {
  padding: 7px 14px 7px 0;
  background-image: url("../img/icon-check.svg");
  background-repeat: no-repeat;
  background-size: 12px 9px;
  background-position: right center;
}

.remind input::placeholder {
  color: #B5B5B5;
  opacity: 1;
}

.remind button {
  padding: 11px 13px 9px;
  font-family: "Acrom", sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  background: #FE0091;
  border: none;
  border-radius: 3px;
}

.header__remind form {
  display: none;
}
/* REMIND FORM */

/* POPUP */

.popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 0;
  width: 100%;
  height: 100%;
  background: rgba(241, 237, 230, 0.6);
}

.popup__content {
  position: absolute;
  top: 0;
  left: 50%;
  padding: 50px 55px 60px 65px;
  width: 800px;
  min-height: 500px;
  background-color: #101010;
  transform: translateX(-50%);
}

.popup__content--step {
  display: flex;
  flex-direction: column;
  padding: 60px 65px 45px;
}

.popup__content--success-pay {
  top: 100px;
  padding: 50px 53px;
  width: 600px;
  min-height: 275px;
}

.popup__content--relevant {
  padding: 60px;
  max-height: 500px;
}

.popup__content .pink {
  color: #FE0091;
}

.popup__title {
  position: relative;
  margin-bottom: 45px;
  line-height: 17px;
  color: #fff;
  text-transform: uppercase;
}

.popup__title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -11px;
  width: 45px;
  height: 1px;
  background-color: #fff;
}

.popup__title--pay {
  text-align: center;
}

.popup__title--pay::after {
  left: 50%;
  transform: translateX(-50%);
}

.popup__wrapper {
  display: flex;
  align-items: center;
  margin: 23px 0;
}

.popup__wrapper--pay {
  margin: 0;
}

.popup__img {
  flex-shrink: 0;
  margin-right: 25px;
  width: 200px;
  height: 150px;
}

.popup__img--lock {
  width: 90px;
  height: 107px;
}

.popup__img--heart {
  width: 129px;
  height: 107px;
}

.popup__action {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.popup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 11px 0;
}

.popup__file-name {
  margin-bottom: 15px;
  min-height: 19px;
  color: #fff;
}

.popup__type-pay {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 21px 0;
}

.popup__type-pay-radio {
  position: relative;
  margin-bottom: 35px;
  padding-left: 40px;
}

.popup__type-pay-radio:last-child {
  margin-bottom: 0;
}

.popup__type-pay-radio span {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url("../img/radio.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.popup__type-pay-radio input[type="radio"]:checked ~ span::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 9px;
  margin-top: -3px;
  margin-left: -3px;
  width: 7px;
  height: 7px;
  background-color: #101010;
}

.popup__close {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
  padding: 0;
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 0;
  background-color: transparent;
}

.popup__close::before,
.popup__close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 21px;
  height: 2px;
  border-radius: 2px;
  background-color: #838383;
}

.popup__close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.popup__close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.popup__close:hover::before,
.popup__close:hover::after {
  background-color: #fff;
}

.popup-nav {
  display: flex;
  margin: 0;
  padding: 0;
  font-weight: 500;
  text-transform: uppercase;
  list-style: none;
}

.popup__nav {
  margin-bottom: 35px;
}

.popup-nav__item {
  position: relative;
  margin-right: 35px;
  padding: 11px 0;
  cursor: pointer;
  transition: color 0.3s;
  overflow: hidden;
}

.popup-nav__item::before,
.popup-nav__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 1px;
  background: #FE0091;
  transform: scale(0);
  transition: transform 0.4s ease-in-out;
}

.popup-nav__item::before {
  left: 0;
  transform-origin: right center;
}

.popup-nav__item::after {
  right: 0;
  transform-origin: left center;
}

.popup-nav__item.active {
  color: #fff;
}

.popup-nav__item.active::before,
.popup-nav__item.active::after {
  transform: scale(1);
}

.popup-nav__item:last-child {
  margin-right: 0;
}

.popup__text {
  display: none;
  padding-right: 50px;
  max-height: 313px;
  overflow: hidden;
}

.popup__text[data-scrollbar] {
  display: none;
}

.popup__text[data-scrollbar].active {
  display: block;
}

.popup__content p {
  margin: 0;
  margin-bottom: 17px;
}

.popup__wrapper--pay p {
  margin-bottom: 0;
}

.popup__title--pay + p {
  text-align: center;
}

.popup__content p > b {
  font-weight: 600;
  color: #fff;
}

.popup__content ol {
  margin: 0;
  margin-bottom: 17px;
  padding-left: 18px;
}

.popup__content p > a {
  color: #fff;
}

.popup__text ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.popup__text ul li {
  display: flex;
  justify-content: space-between;
}

.popup__text ul li > span {
  padding: 5px 0;
}

.popup__text ul li > span:first-child {
  width: 30%;
}

.popup__text ul li > span:last-child {
  width: 65%;
}

.popup__content .scrollbar-track.scrollbar-track-y {
  margin: 0 1px;
  width: 2px;
  background: #707070;
  opacity: 1;
}

.popup__content .scrollbar-thumb {
  left: -1px;
  width: 4px;
  background-color: #fff;
}

.popup__pay-info {
  text-align: center;
}

.popup__reserve-error {
  display: none;
  text-align: center;
  color: #FE0091;
}

.requisite-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 63px;
  width: 100%;
}

.requisite-form--email {
  margin-bottom: auto;
}

.requisite-form__item {
  margin-bottom: 25px;
}

.requisite-form__item--full {
  width: 100%;
}

.requisite-form__item--half {
  width: 45.9558824%;
}

.requisite-form__item input {
  padding: 5px 0;
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  font-weight: 300;
  border: none;
  border-bottom: 1px solid #646464;
  border-radius: 0;
  background-color: transparent;
}

.requisite-form__item input.error {
  color: #FE0091;
  border-bottom-color: #FE0091;
}

.requisite-form__item input::placeholder {
  color: #B5B5B5;
  opacity: 1;
}

.requisite-form__item input.error::placeholder {
  color: #FE0091;
}

.example {
  margin-right: 45px;
}

.example__wall {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 150px;
}

.relevant {
  padding-right: 40px;
  max-height: 380px;
  overflow: hidden;
}

.relevant__item {
  margin-bottom: 20px;
  padding: 25px 30px;
  border: 1px solid #707070;
}

.relevant__item:last-child {
  margin-bottom: 0;
}

.relevant__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.relevant__title {
  max-width: 421px;
  line-height: 15px;
  color: #fff;
}

.relevant__date {
  font-size: 13px;
  line-height: 15px;
  font-weight: 300;
}
/* POPUP */

.mCustomScrollbar,
.mCustomScrollbar.mCS_touch_action,
.mCustomScrollbar.mCS_touch_action .mCS-aviva.mCSB_scrollTools {
	-ms-touch-action: auto;
	    touch-action: auto;
}

.mCustomScrollBox {
	-ms-touch-action: pan-x;
	    touch-action: pan-x;
}

.mCustomScrollBox.mCSB_vertical_horizontal {
	-ms-touch-action: auto;
	    touch-action: auto;
}

.mCustomScrollBox.mCSB_horizontal {
	-ms-touch-action: pan-y;
	    touch-action: pan-y;
}

@keyframes clock {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }

  14% {
    transform: scale(1.1);
  }

  28% {
    transform: scale(1);
  }

  42% {
    transform: scale(1.1);
  }

  70% {
    transform: scale(1);
  }
}

@keyframes arrow1 {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.1;
  }
}

@keyframes arrow2 {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.1;
  }
}

@keyframes arrow3 {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 1299px) and (min-width: 1024px) {
  .header__logo {
    order: 3;
    position: static;
    margin-left: 25px;
    transform: translate(0);
  }

  .header__counter > span {
    display: none;
  }
}

@media (max-width: 1125px) {
  .header__timer > span {
    display: none;
  }
}

@media (max-width: 1023px) {
  .header__content {
    flex-wrap: wrap;
  }

  .header__left,
  .header__right {
    width: 100%;
  }

  .header__left {
    margin-bottom: 10px;
  }

  .header__right {
    justify-content: center;
  }

  .header__counter {
    margin-left: 0;
  }

  .counter {
    border-top: 1px solid #707070;
  }

  .header__fond-logo {
    order: 1;
    margin-left: auto;
    margin-right: 0;
    width: 202px;
    height: 67px;
  }

  .header__logo {
    position: static;
    order: -1;
    margin-top: 11px;
    margin-bottom: 5px;
    margin-right: 20px;
    width: 202px;
    transform: translate(0);
  }

  .header__nav {
    order: 0;
  }

  .header__timer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    margin: 0;
  }

  .header__timer > span {
    display: block;
  }

  .timer {
    border-top: 1px solid #707070;
  }

  .popup__content {
    width: 100%;
  }

  .popup__content--success-pay {
    max-width: 600px;
  }

  .wall {
    margin-bottom: 20px;
  }

  .wall__actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main__button-buy {
    position: static;
    transform: translate(0);
  }

  .main__button-buy:active {
    transform: translateY(2px);
  }

  .progress {
    position: static;
    flex-direction: column;
    justify-content: center;
    transform: translate(0);
  }

  .progress__step {
    margin-right: 0;
  }

  .progress__step::after {
    display: none;
  }

  .footer__links {
    flex-direction: column;
    align-items: center;
  }

  .footer__links a {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .header__content {
    flex-direction: column;
    align-items: center;
  }

  .header__left {
    flex-direction: column;
    margin-bottom: 0;
  }

  .header__right {
    align-items: center;
  }

  .header__fond-logo {
    order: 0;
    margin: 0 0 11px;
  }

  .header__logo {
    margin-right: 0;
  }

  .header__remind {
    margin-bottom: 11px;
  }

  .header__nav {
    order: 1;
    margin-bottom: 11px;
  }

  .header__timer > span {
    display: none;
  }

  .header__counter > span {
    display: none;
  }

  .wall {
    margin-bottom: 10px;
  }

  .wall__actions {
    flex-direction: column;
    justify-content: center;
  }

  .wall__info {
    padding-right: 45px;
    min-width: 250px;
  }

  .scrollbar,
  .main__button-buy,
  .progress {
    margin-bottom: 15px;
  }

  .popup__content {
    padding: 20px 15px;
    min-height: 413px;
  }

  .popup__content--success-pay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: auto;
  }

  .popup__content--relevant {
    padding-right: 35px;
  }

  .relevant {
    padding-right: 15px;
  }

  .relevant__item {
    padding: 15px;
  }

  .popup__nav {
    margin-bottom: 25px;
    font-size: 13px;
  }

  .popup-nav__item {
    margin-right: 15px;
    padding: 8px 0;
  }

  .popup__text ul li {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .popup__text ul li > span:first-child,
  .popup__text ul li > span:last-child {
    width: 100%;
  }

  .popup__text ul li > span:last-child {
    padding-top: 0;
  }

  .popup__wrapper {
    // display: block;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }

  .popup__title {
    margin-bottom: 25px;
  }

  .popup__example {
    margin: 0;
    margin-bottom: 17px;
    width: 200px;
  }

  .popup__img {
    margin-right: 0;
    margin-bottom: 17px;
  }

  .popup__type-pay-radio {
    margin-bottom: 17px;
  }

  .popup .button--facebook {
    align-self: center;
    margin-left: 0;
  }

  .requisite-form {
    padding: 0;
  }

  .requisite-form__item {
    margin-bottom: 15px;
  }

  .requisite-form__item--half {
    width: 100%;
  }

  .requisite-form__item input {
    font-size: 16px;
  }

  .partners__slider {
    padding: 0 30px;
  }

  .footer__content {
    flex-direction: column;
    align-items: center;
  }

  .footer__connect, .footer__remind {
    margin-bottom: 10px;
  }

  .footer__connect, .footer__copyright {
    width: 100%;
    text-align: center;
  }

  .footer__links {
    margin-bottom: 10px;
  }
}

@media (max-width: 374px) {
  .popup__nav {
    font-size: 10px;
  }
}
